<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="styles.css">
  <title>Document</title>
</head>
<body>
  <div class="nav-header">
    <img src="mhrd_logo-removebg-preview.png" alt="MHRD logo">
    <img src="MOE_innovation-removebg-preview.png" alt="MOE" style="width: 170px">
    <div class="sih_logo">
      <img src="SIH_logo-removebg-preview.png" alt="SIH logo">
      <h1>Smart India <br> Hackathon 2022</h1>
    </div>
    <img src="inde_logo-removebg-preview.png" alt="Independence">
    <img src="MP_logo-removebg-preview.png" alt="MP Police logo">
  </div>

  <div class="links">
    <button class="button-81" role="button"><a href="send.html">Send</a></button>
    <button class="button-81" role="button"><a href="receive.html">Recieve</a></button>

    <div class="file_types">
      <p>Supports: JPG, PNG, JPEG, MP3, MP4, WAV, PDF</p>
    </div>
  </div>
 

  <div class="footer">
    <h3>HUSTLERS_VIT</h3>
  </div>
</body>
</html>