<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/28927562b4.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="styles.css">
  <title>Document</title>
</head>
<body>
  <div class="nav-header">
    <img src="mhrd_logo-removebg-preview.png" alt="MHRD logo">
    <div class="sih_logo">
      <img src="SIH_logo-removebg-preview.png" alt="SIH logo">
      <h1>Smart India <br> Hackathon 2022</h1>
    </div>
    <img src="inde_logo-removebg-preview.png" alt="Independence">
  </div>

  <div class="links">
    <a href="send.html">Send File | </a>
    <a href="receive.html">Recieve File</a>
  </div>
</body>
</html>