<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/28927562b4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles.css">
    <title>SEND</title>
</head>
<body>
  <center>
    <div class="wrapper">
      <form id="upload">
        <div class="upload-area">
        <input type="file" id="myFile" name="filename" multiple hidden>
        <i class="fas fa-cloud-upload-alt"></i>
        <p>Browse File to Upload</p>
        <br>
        <button id="input_btn" class="button-14" role="button">Upload</button>
      </div>
      <div id="options" style="display: none">
        <div class="option">
          <label for="1">Compress</label> 
          <input class="check" type="checkbox" id="compress" name="1" value="hus"> <br>
        </div>

        <div class="progress-area" id="on_compress" style="display: none">
          <div class="progress"></div>
        </div>

        <!-- <div class="compressed-area"></div> -->

        <div class="option">
          <label for="encrypt">Encrypt </label> 
          <input type="checkbox" id="encrypt">
        </div>

       
       
        <div class="option" id="hidden" style="display: none">
          <input id="password" type="password">
          <label for="password">Password</label>
        </div>
      </div>
        
        <div class="submit-btn">
          <button type="submit" class="button-28" role="button">Submit</button>
        </div>
        
      </form>

      
    </div>
      
   

    <!-- <div>
      <input id="progress-bar">
    </div>
   -->
  
  
  
  
  <!-- <form action="/url" method="GET" id="form" style="display:none">
          <p>Password</p>
          
          
      </form>
   -->
   <!-- <a href="/success.html">Submit</a> -->
    </center>


    <script src="../static/send.js"></script>
</body>


</html>
  

