/* 151515 */
/* 066A4C */

/* SVG Wave */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  background-color: #066A4C;
}

.wrapper {
  width: 700px;
  height: 500px;
  background-color: #DDEEE9;
  border-radius: 7px;
  padding: 30px;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
  border: 10px solid #7CC4AC;
}

.wrapper .upload-area{
  width: 80%;
    height: 250px;
    padding: 16px;
    display: flex;
    cursor: pointer;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #808080;
    background-color: #fff;
  }


form :where(i, h3){
    color: #808080;
  }
  form i{
    font-size: 20px;
  }
  form h3{
    margin-top: 15px;
    font-size: 2rem;
  }

  


  #options {
    padding: 10px;
  }

  #hidden {
    position:relative;
	margin-bottom:25px;
  }

  #hidden label{
        position:absolute;
        top:0px;
        left:0px;
        font-size:16px;
        color:black;	
        transition: all 0.5s ease-in-out;
  }


  #hidden input{
    border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:black;
  }

  #hidden input:focus {
    border:none;	
 outline:none;
 border-bottom:1px solid black;
  }

  #hidden input:focus ~ label{
	top:-12px;
	font-size:12px;
	
}
/* Button CSS */

.button-28 a {
    text-decoration: none;
    color: #3B3B3B;;
}

.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #066A4C;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  /* font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-top: 20px;
  /* margin-bottom: 10px; */
  min-height: 10px;
  min-width: 0;
  outline: none;
  padding: 6px 4px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
  height: 30%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #066A4C;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.links{
  margin: 20px;
  text-align: center;
}

.links a {
    color: #68BD97;
    text-decoration: none;
    font-size: 2rem;
}

.links button {
  margin: 10px;
}

.file_types {
  display: flex;
  flex-direction: row;
  flex: 1;
  color: #DDEEE9;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 16px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #DDEEE9;
  color: #066A4C;
  text-align: center;
}

.footer h3{
  padding: 16px;
}

/* CSS */
.button-14 {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-14:active {
  border-bottom-color: #a2a6ac;
}

.button-14:active:hover {
  border-bottom-color: #a2a6ac;
}

.button-14:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.button-14:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}

/* Progress bar */

.progress-area {
    background-color: #d8d8d8;
	border-radius: 20px;
    position: relative;
    /* top: 0;
    bottom: 10;
    left: 0;
    right: 0; */
    margin: auto;
    border-radius: 30px;
	height: 10px;
	width: 350px;
  }

.progress {
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #066A4C;
    border-radius: 30px;
    /* animation: move 3s linear; */
}

@keyframes move {
    to {
        width: 100%;
    }
}

/* nav {
  position: relative;
} */

.nav-header {
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
}

.nav-header {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  background-color: #DDEEE9;
  width: 100%;
}

.nav-header img {
  display: block;
  text-align: center;
  width: 150px;
  /* padding-left: 20px; */
  margin: 16px;
}

.sih_logo {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
}

/* .sih_logo img {
  display: inline;
} */

.sih_logo h1 {
  text-transform: uppercase;
  color: #066A4C;
  /* display: inline-block; */
  /* position: relative; 
   left: 600px; */
  text-align: center;
}


/* CSS */
.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #DDEEE9;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

/*Toggle Button 
.check {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 10px;
}
.check:after {
	content: '';
	width: 60px;
	height: 28px;
	display: inline-block;
	background: rgba(196, 195, 195, 0.55);
	border-radius: 18px;
	clear: both;
} */

/* .check:before {
	content: '';
	width: 32px;
	height: 32px;
	display: block;
	position: absolute;
	left: 0; 
  top: 0px;
	border-radius: 50%;background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.check:checked:before {
	left: 32px;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}

.check:checked:after {
	background: #16a085;
}

.check,
.check:before,
.check:after,
.check:checked:before,
.check:checked:after {
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
}  */